body {
    font-size: 15pt;
    font-family: 'Noto Sans Arabic', sans-serif;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.all-details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    width: 90%;
    height: min-content;
    flex-direction: row;
    overflow-x: hidden;
    border: 2px solid rgb(202, 202, 202);
    background-color: #fdfafa;
    border-radius: 15px 15px 15px 15px !important;
    
}

.main-picture {
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 20px;
}

.the-main {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-pic {
    width: 450px;
    border: 2px solid #dddddd;
    border-radius: 15px 15px 15px 15px !important;
}

.side-pictures {

    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.pic-one,
.pic-two,
.pic-three,
.pic-four {
    width: 150px;
    border: 1px solid #ccc;
}

.thumbnail-vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 600px;
    width: 210px;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 15px 15px 15px 15px !important;
    padding: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.thumbnail-vertical {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 500px;
}

.thumbnail-vertical img {
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-shrink: 0;
}

.slider-btn {
    padding: 8px 12px;
    background-color: #eee;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.slider-btn:hover {
    background-color: #ccc;
}

.product-details-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 48%;
    gap: 20px;
    height: inherit;
    padding: 20px;
}

.icons {
    width: 70%;
    height: 100px;
    display: flex;
    /* justify-content: space-between; */
    font-family: 'Noto Sans Arabic', sans-serif;
    gap: 30px;
    align-items: center;
    flex-direction: row;
}

.add {
    background-color: #FC0444;
    border-radius: 5px 5px 5px 5px !important;
    font-weight: 500;
    border: 3px solid rgb(192, 1, 1);
    color: white;
    padding: 5px;
    width: 200px;
    transition: all 0.5s ease;
    font-family: 'Noto Sans Arabic', sans-serif;
}

b {
    font-family: 'Noto Sans Arabic', sans-serif;
}

table {
    font-family: 'Noto Sans Arabic', sans-serif;
}

.add:hover {
    background-color: white;
    border: 3px solid rgb(250, 95, 95);
    color: #FC0444;
    font-weight: 500;
    padding: 5px;
    transform: scale(1.04);
    transition: all 0.5s ease;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    font-family: 'Noto Sans Arabic', sans-serif;
}

.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: #818078;
    padding: 0 .5em;
    line-height: 1.5em;
    background-color: #fcfcfa;
}

.box {
    width: fit-content;
    height: auto;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    transition: 0.25s;
    color: #818078;
}

#input {
    width: 130px;
}

.box:hover {
    width: fit-content;
    height: auto;
    padding: 5px;
    border: 1px solid orange;
    border-radius: 5px 5px 5px 5px;
    transition: 0.25s;
    color: rgb(228, 121, 121);
}

.buy-button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
    flex-direction: row-reverse;
}

.input {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
    font-size: 12pt;
    color: black;
    width: 60px;
    border: none;
    outline: none;
    border-radius: 25px;
    border: 1px solid rgb(170, 169, 169);
    font-weight: 600;
    font-family: 'Noto Sans Arabic', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#decrement,
#increment {
    color: white;
    background-color: #ff7a7a;
    border: 3px solid rgb(255, 139, 139);
    font-size: 13pt;
    cursor: pointer;
    font-weight: 500;
    border-radius: 10px;
    text-align: center;
    align-self: auto;
    width: 29px;
}

/* start tab */
/* structure for body  dont change it */


/* for choose the tab :details, star .... with animation  */
.all-items {
    display: flex;
    justify-content: center;
    width: 35%;
    align-items: center;
    text-align: right;
    flex-direction: row;
    height: 20px;
    gap: 20px;
    font-family: 'Noto Sans Arabic', sans-serif;


}

/* for choose the tab :details, star .... with animation  */
.item1,
.item2,
.item3 {
    font-family: 'Noto Sans Arabic', sans-serif;

    font-weight: 500;
    font-size: 15pt;
    position: relative;
    cursor: pointer;
    list-style: none;
}

/* for choose the tab :details, star .... with animation  */
.item1::after,
.item2::after,
.item3::after {
    content: '';
    width: 0;
    height: 3px;
    right: 0;
    bottom: -5px;
    position: absolute;
    transition: ease-in 1000ms;
    background: linear-gradient(to left, red, orange);
    border-radius: 20px;
}

/* for choose the tab :details, star .... with animation  */
.item1:hover::after,
.item2:hover::after,
.item3:hover::after {
    width: 100%;
    transition: ease 700ms;
    cursor: pointer;
}

/* animation for tabs title*/
.animation-title {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 0.5s forwards;
    animation-delay: 0.5s;

}

/* animation for tabs text*/

.animation-text {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 0.5s forwards;
    animation-delay: 0.7s;

    direction: rtl;
}

/* the animation */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* start the tab style  */
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

/* tabs content */
.tab-content {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    text-align: center;
    direction: rtl;
    padding-right: 10px;


}

/* box shadow for each tabs */
#star,
#details,
#comment {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    background-color: white;
    font-family: 'Noto Sans Arabic', sans-serif;

    font-size: 15pt;
    color: black;
    padding: 20px;
    text-align: right;
}

.tb {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 90%;
    direction: ltr;
}

/* start responsive in mobile */
/* ریسپانسیو برای موبایل: تا 576px */
@media (max-width: 576px) {
    .all-items {
        width: 100%;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-size: 11pt;
        height: auto;
        text-align: center;
    }

    .tb {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: auto;
        width: 100%;
        direction: ltr;
    }

    /* for choose the tab :details, star .... with animation  */
    .item1,
    .item2,
    .item3 {
        font-family: 'Noto Sans Arabic', sans-serif;
        font-weight: 500;
        font-size: 11pt;
        position: relative;
        cursor: pointer;
        list-style: none;
    }

    .item1::after,
    .item2::after,
    .item3::after {
        content: '';
        width: 0;
        height: 3px;
        right: 0;
        bottom: -7px;
        position: absolute;
        transition: ease-in 1000ms;
        background: linear-gradient(to left, red, orange);
        border-radius: 20px;
    }

    .item1:hover::after,
    .item2:hover::after,
    .item3:hover::after {
        width: 100%;
        transition: ease 700ms;
        cursor: pointer;
    }

    .tab-content {
        width: 100%;
        padding-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* box shadow for each tabs */
    #star,
    #details,
    #comment {
        font-size: 12pt;
        padding: 20px;
        text-align: right;
    }

    /* animation for tabs title*/
    .animation-title {
        font-size: 16pt;
    }

    /* animation for tabs text*/
    .animation-text {
        font-size: 11pt;
    }
}

/* ریسپانسیو برای تبلت: بین 577px تا 768px */
@media (min-width: 577px) and (max-width: 768px) {
    .all-items {
        width: 80%;
        gap: 15px;
        font-size: 13pt;
    }

    /* for choose the tab :details, star .... with animation  */
    .item1,
    .item2,
    .item3 {
        font-size: 13pt;
        padding: 6px 12px;
    }

    .item1,
    .item2,
    .item3 {
        font-family: 'Noto Sans Arabic', sans-serif;

        font-weight: 500;
        font-size: 13pt;
        position: relative;
        cursor: pointer;
        list-style: none;
    }

    /* ...existing code... */
    .item1::after,
    .item2::after,
    .item3::after {
        content: '';
        width: 0;
        height: 3px;
        right: 0;
        bottom: -5px;
        position: absolute;
        transition: ease-in 1000ms;
        background: linear-gradient(to left, red, orange);
        border-radius: 20px;
    }

    .item1:hover::after,
    .item2:hover::after,
    .item3:hover::after {
        width: 100%;
        transition: ease 700ms;
        cursor: pointer;
    }

    .tab-content {
        width: 90vw;
        padding-right: 5vw;
    }

    /* box shadow for each tabs */
    #star,
    #details,
    #comment {
        font-size: 13pt;
        padding: 16px 8px;
        text-align: right;
    }

    /* animation for tabs title*/
    .animation-title {
        font-size: 18pt;
    }

    /* animation for tabs text*/
    .animation-text {
        font-size: 12pt;
    }
}

/* ریسپانسیو برای دسکتاپ: بین 769px تا 992px */
@media (min-width: 769px) and (max-width: 992px) {
    .all-items {
        width: 80%;
        gap: 15px;
        font-size: 13pt;
    }

    /* for choose the tab :details, star .... with animation  */
    .item1,
    .item2,
    .item3 {
        font-size: 13pt;
        padding: 6px 12px;
    }

    .tab-content {
        width: 90vw;
        padding-right: 5vw;
    }

    .item1,
    .item2,
    .item3 {
        font-size: 13pt;
        padding: 6px 12px;
    }

    .item1,
    .item2,
    .item3 {
        font-family: 'Noto Sans Arabic', sans-serif;

        font-weight: 500;
        font-size: 13pt;
        position: relative;
        cursor: pointer;
        list-style: none;
    }

    .item1::after,
    .item2::after,
    .item3::after {
        content: '';
        width: 0;
        height: 3px;
        right: 0;
        bottom: -4px;
        position: absolute;
        transition: ease-in 1000ms;
        background: linear-gradient(to left, red, orange);
        border-radius: 20px;
    }

    /* box shadow for each tabs */
    #star,
    #details,
    #comment {
        font-size: 13pt;
        padding: 16px 8px;
        text-align: right;
    }

    /* animation for tabs title*/
    .animation-title {
        font-size: 18pt;
    }

    /* animation for tabs text*/
    .animation-text {
        font-size: 12pt;
    }
}